# Modify Class Names

In [1]:
import numpy as np
import pandas as pd
from collections import Counter 
import warnings; 
warnings.simplefilter('ignore')

In [2]:
df = pd.read_csv("final.csv")

In [3]:
df.head()

,Accession,Release_Date,Species,Length,Geo_Location,Host,Isolation_Source,Collection_Date,Sequence
0,MT683386,2020-07-01T00:00:00Z,Severe acute respiratory syndrome-related coro...,29858,USA,Homo sapiens,NaN,2020-04-05,GGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTCTT...
1,MT683387,2020-07-01T00:00:00Z,Severe acute respiratory syndrome-related coro...,29854,USA,Homo sapiens,NaN,2020-04-02,ATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTCTTGTAGA...
2,MT683388,2020-07-01T00:00:00Z,Severe acute respiratory syndrome-related coro...,29877,USA,Homo sapiens,NaN,2020-04-03,AAGGTTTATACCTTCCCAGGTAACAAACCTTTCAACTTTCGATCTC...
3,MT683389,2020-07-01T00:00:00Z,Severe acute respiratory syndrome-related coro...,29856,USA,Homo sapiens,NaN,2020-04-03,GGTAACAAACCTTTHAACTTTCGATCTCTTGTAGATCTGTTCTCTA...
4,MT683390,2020-07-01T00:00:00Z,Severe acute respiratory syndrome-related coro...,29668,USA,Homo sapiens,NaN,2020-04-03,GCTTACGGTTNNNNNNNNNNNNNNNNNNNNCANNNNNNCATCTAGG...

In [4]:
df["Geo_Location"].fillna("NA", inplace = True)

### See Current Class Distribution

In [5]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df['Geo_Location'].value_counts())

USA: WA                                  733
USA                                      733
USA: CA                                  713
USA: Michigan                            385
USA: Massachusetts                       376
USA: NY                                  292
USA: Washington,King County              260
USA: Washington,Yakima County            248
USA: Washington, Yakima County           209
USA: Virginia                            187
USA: VA                                  179
USA: FL                                  152
USA: MI                                  106
USA: Washington                           86
USA: UT                                   71
USA: Washington,Snohomish County          70
USA: Washington,Pierce County             67
USA: Connecticut                          65
USA: CT                                   51
USA: Washington, Pierce County            49
USA: Washington, Snohomish County         48
USA: ID                                   48
USA: Washington,Whatcom County            45
USA: MA                                   36
USA: AK                                   29
USA: GA                                   20
USA: Washington, King County              16
USA: Illinois                             16
USA: NJ                                   13
USA: Washington,Skagit County             12
USA: Washington, Skagit County            12
USA: PA                                   11
USA: Wisconsin                            10
USA: SC                                   10
USA: IL                                    9
USA: New Orleans, LA                       9
USA: MN                                    8
USA: San Diego, California                 8
USA: IA                                    8
USA: Washington,Asotin County              8
USA: Washington,Adams County               7
USA: King County,WA                        7
USA: TX                                    7
USA: San Francisco, CA                     7
USA: NC                                    7
USA: Washington,Grant County               5
USA: Washington, Cowlitz County            5
USA: IN                                    5
USA: New York                              5
USA: OR                                    5
USA: Washington,Franklin County            5
USA: NH                                    4
USA: RI                                    4
USA: Maricopa County, Arizona              4
USA: HI                                    4
USA: AZ                                    4
USA: MD                                    4
USA: Washington,Mason County               3
USA: KY                                    3
USA: OH                                    3
USA: Dane County, Wisconsin                3
USA: Georgia                               3
USA: KENNER, LA                            3
USA: Washington,Clark County               3
USA: Washington, Franklin County           3
USA: Ak                                    2
USA: MARINGOUIN, LA                        2
USA: Washington,Umatilla County            2
USA: Washington,Benton County              2
USA: DC                                    2
USA: Washington, Spokane County            2
USA: Mount Horeb, Wisconsin                2
USA: Washington, Grant County              2
USA: RACELAND, LA                          2
USA: METAIRIE, LA                          2
USA: Washington, Benton County             2
USA: SLIDELL, LA                           2
USA: CO                                    2
USA: NV                                    2
USA: Washington, Mason County              2
USA: NE                                    2
USA: GHEENS, LA                            1
USA: Snohomish County, WA                  1
USA: Lacombe, LA                           1
USA: NEW ORLEANS, LA                       1
USA: Maricopa Country, Arizona             1
USA: East Feliciana Parish, Louisiana      1
USA: VIOLET, LA                            1
USA: Madison, Wisconsin                    1
USA: AVONDALE, LA                          1
USA: Verona, Wisconsin                     1
USA: Washington, Douglas County            1
USA: Oregon, Wisconsin                     1
USA: Snohomish County,WA                   1
USA: GRAY, LA                              1
USA: TN                                    1
USA: MARRERO, LA                           1
USA: PR                                    1
USA: WI                                    1
USA: SAINT ROSE, LA                        1
USA: California, Monterey County           1
USA: Ohio                                  1
USA: HOUMA, LA                             1
USA: MO                                    1
USA: VT                                    1
USA: OK                                    1
USA: CA, San Diego County                  1
USA: Washington,Jefferson County           1
USA: KILLONA, LA                           1
USA: SLIDELL LA                            1
USA: Washington,Kittitas County            1
USA: Slidell, LA                           1
USA: KS                                    1
USA: CHALMETTE, LA                         1
USA: Washington, Adams County              1
USA: THIBODAUX,LA                          1
USA: HAMMOND, LA                           1
USA: LOCKPORT, LA                          1
USA: LULING, LA                            1
USA: North Carolina                        1
USA: LACOMBE, LA                           1
USA: LA                                    1
USA: DELACROIX, LA                         1
USA: Washington, Asotin County             1
USA: NAPOLEONVILLE, LA                     1
Name: Geo_Location, dtype: int64

In [6]:
USA = ['USA']
Washington_Yakima = ['USA: Washington,Yakima County', 'USA: Washington, Yakima County']
Washington_King = ['USA: Washington,King County', 'USA: Washington, King County', 'USA: King County,WA']
Washington_Snohomish_Pierce = ['USA: Washington,Snohomish County', 'USA: Washington,Pierce County',
                            'USA: Washington, Pierce County', 'USA: Washington, Snohomish County',
                              'USA: Snohomish County,WA', 'USA: Snohomish County, WA']
Michigan = ['USA: Michigan', 'USA: MI']
Masachusetts = ['USA: Massachusetts', 'USA: MA']
New_York = ['USA: NY', 'USA: New York']
Virginia = ['USA: Virginia', 'USA: VA']
Connecticut = ['USA: Connecticut', 'USA: CT']
Florida = ['USA: FL']

### Edit Classes Names

In [7]:
for ind in df.index:
    if df['Geo_Location'][ind] in USA:
        continue
#     elif df['Geo_Location'][ind] in Washington_Yakima:
#         df['Geo_Location'][ind] = "Yakima WA"
#     elif df['Geo_Location'][ind] in Washington_King:
#         df['Geo_Location'][ind] = "King WA"
#     elif df['Geo_Location'][ind] in Washington_Snohomish_Pierce:
#         df['Geo_Location'][ind] = "Snohomish_Pierce WA"
#     elif df['Geo_Location'][ind] in Washington_Yakima:
#         df['Geo_Location'][ind] = "Yakima WA"
    elif df['Geo_Location'][ind] in Michigan:
        df['Geo_Location'][ind] = "Michigan"
    elif df['Geo_Location'][ind] in Masachusetts:
        df['Geo_Location'][ind] = "Masachusetts"
    elif df['Geo_Location'][ind] in New_York:
        df['Geo_Location'][ind] = "New York"
    elif df['Geo_Location'][ind] in Virginia:
        df['Geo_Location'][ind] = "Virginia"
    elif df['Geo_Location'][ind] in Connecticut:
        df['Geo_Location'][ind] = "Connecticut"
    elif df['Geo_Location'][ind] in Florida:
        df['Geo_Location'][ind] = "Florida"
    elif df['Geo_Location'][ind].find('California') != -1 or df['Geo_Location'][ind].find('CA') != -1:
        df['Geo_Location'][ind] = "California"
    elif df['Geo_Location'][ind].find('Washington') != -1 or df['Geo_Location'][ind].find('WA') != -1:
        df['Geo_Location'][ind] = "Washington"
    else:
         df['Geo_Location'][ind] = "Others"

In [8]:
df = df[df.Geo_Location != 'Others']
df = df[df.Geo_Location != 'USA']

### See New Class Distribution

In [9]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df['Geo_Location'].value_counts())

Washington      1920
California       730
Michigan         491
Masachusetts     412
Virginia         366
New York         297
Florida          152
Connecticut      116
Name: Geo_Location, dtype: int64

### Write to File

In [10]:
df.to_csv('USA_removed.csv',encoding='utf-8',index=False)