## Create Dataset

In [1]:
import pandas as pd
from Bio.SeqIO import parse
from Bio.SeqRecord import SeqRecord
from Bio.Seq import Seq

In [2]:
csv_contents = pd.read_csv("sequences.csv")
fasta_file = open("sequences.fasta")
records = parse(fasta_file,"fasta")

Now, we find the rows in the **sequences.csv** file, which have the entry in the **accession** column in common with the record id of the records in the fasta file, and we create a new column **Sequence** in the original dataframe filling them with the sequences in the records.

In [3]:
for record in records:
    cc = 0
    for index, row in csv_contents.iterrows():
        if row['Accession'] == str(record.id):
            csv_contents.at[cc, 'Sequence'] = str(record.seq)
            break
        cc += 1

Now, we can delete those entries which have **NA** in the Sequence column in the dataframe.

In [4]:
csv_contents = csv_contents[csv_contents.Sequence != 'NA']

Taking a peek at the different columns and their corresponding *data types* and number of *non-null* entries.

In [5]:
csv_contents.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2051 entries, 0 to 2050
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Accession         2051 non-null   object
 1   Release_Date      2051 non-null   object
 2   Species           2051 non-null   object
 3   Length            2051 non-null   int64
 4   Geo_Location      2047 non-null   object
 5   Host              2047 non-null   object
 6   Isolation_Source  724 non-null    object
 7   Collection_Date   2049 non-null   object
 8   Sequence          2051 non-null   object
dtypes: int64(1), object(8)
memory usage: 160.2+ KB

We use the Regular expression `^USA.*` to find all those entries in the `Geo_Location` columns whose values match the given pattern, and remove all the other rows having **Geo_Location** column values not matching the given pattern.

In [6]:
pattern= "^USA.*"
filter = csv_contents['Geo_Location'].str.contains(pattern,na=False)
csv_contents = csv_contents[filter]
csv_contents.head(10)

,Accession,Release_Date,Species,Length,Geo_Location,Host,Isolation_Source,Collection_Date,Sequence
7,MT418880,2020-05-01T00:00:00Z,Severe acute respiratory syndrome-related coro...,29899,USA: VA,Homo sapiens,NaN,2020-04,AAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTC...
8,MT418881,2020-05-01T00:00:00Z,Severe acute respiratory syndrome-related coro...,29899,USA: VA,Homo sapiens,NaN,2020-04,AAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTC...
9,MT418882,2020-05-01T00:00:00Z,Severe acute respiratory syndrome-related coro...,29892,USA: VA,Homo sapiens,NaN,2020-04,ATNCCTTCCCAGGTAACAAACCAACCAACTTTCGATCTCTTGTAGA...
10,MT418883,2020-05-01T00:00:00Z,Severe acute respiratory syndrome-related coro...,29868,USA: VA,Homo sapiens,NaN,2020-04,CCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAA...
11,MT418884,2020-05-01T00:00:00Z,Severe acute respiratory syndrome-related coro...,29893,USA: VA,Homo sapiens,NaN,2020-04,TATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTCTTGTAG...
12,MT418885,2020-05-01T00:00:00Z,Severe acute respiratory syndrome-related coro...,29899,USA: VA,Homo sapiens,NaN,2020-04,AAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTC...
13,MT418886,2020-05-01T00:00:00Z,Severe acute respiratory syndrome-related coro...,29838,USA: VA,Homo sapiens,NaN,2020-04,AACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAAT...
14,MT418887,2020-05-01T00:00:00Z,Severe acute respiratory syndrome-related coro...,29860,USA: VA,Homo sapiens,NaN,2020-04,GGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTCTT...
15,MT418888,2020-05-01T00:00:00Z,Severe acute respiratory syndrome-related coro...,29858,USA: VA,Homo sapiens,NaN,2020-04,TAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATC...
16,MT418889,2020-05-01T00:00:00Z,Severe acute respiratory syndrome-related coro...,29897,USA: VA,Homo sapiens,NaN,2020-04,GGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTCTT...

Finally writing the altered dataframe into a **final.csv** file.

In [7]:
csv_contents.to_csv('final.csv',encoding='utf-8',index=False)

## Data Visualization

In [8]:
df = csv_contents

Check presence of **null** values

In [9]:
pd.isnull(df).any()

Accession           False
Release_Date        False
Species             False
Length              False
Geo_Location        False
Host                 True
Isolation_Source     True
Collection_Date     False
Sequence            False
dtype: bool

### Geo_Location

In [10]:
df["Geo_Location"].fillna("NA", inplace = True)

Number of Unique **Geo_Locations** in Dataset

In [11]:
df['Geo_Location'].nunique()

43

Number of Datapoints for each **Geo_Location**

In [12]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df['Geo_Location'].value_counts())

USA: WA                      683
USA                          223
USA: NY                      209
USA: CA                      132
USA: VA                       93
USA: Michigan                 89
USA: UT                       54
USA: CT                       43
USA: ID                       38
USA: MA                       19
USA: GA                       15
USA: IL                        9
USA: PA                        9
USA: MI                        9
USA: FL                        8
USA: MN                        8
USA: AZ                        7
USA: IA                        7
USA: San Francisco, CA         7
USA: SC                        7
USA: NC                        7
USA: OR                        5
USA: TX                        5
USA: NH                        4
USA: RI                        4
USA: IN                        4
USA: NJ                        3
USA: OH                        3
USA: New Orleans, LA           2
USA: MD                        2
USA: Illinois                  2
USA: NV                        2
USA: HI                        2
USA: NE                        2
USA: CA, San Diego County      1
USA: WI                        1
USA: North Carolina            1
USA: New York                  1
USA: DC                        1
USA: KS                        1
USA: LA                        1
USA: MO                        1
USA: Snohomish County, WA      1
Name: Geo_Location, dtype: int64

### Release_Date

Number of Unique **Release_Dates**

In [13]:
df['Release_Date'].nunique()

36

Number of Datapoints for each **Release Date**

In [14]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df['Release_Date'].value_counts())

2020-04-13T00:00:00Z    250
2020-04-30T00:00:00Z    222
2020-04-23T00:00:00Z    208
2020-04-24T00:00:00Z    171
2020-04-16T00:00:00Z    111
2020-03-31T00:00:00Z    110
2020-04-20T00:00:00Z    107
2020-04-27T00:00:00Z     91
2020-04-06T00:00:00Z     72
2020-03-30T00:00:00Z     60
2020-04-14T00:00:00Z     52
2020-05-01T00:00:00Z     49
2020-03-26T00:00:00Z     44
2020-04-17T00:00:00Z     40
2020-04-11T00:00:00Z     31
2020-03-09T00:00:00Z     18
2020-04-07T00:00:00Z     16
2020-04-08T00:00:00Z     12
2020-04-03T00:00:00Z      9
2020-03-27T00:00:00Z      9
2020-03-12T00:00:00Z      7
2020-03-10T00:00:00Z      6
2020-04-28T00:00:00Z      4
2020-04-15T00:00:00Z      3
2020-03-13T00:00:00Z      3
2020-02-07T00:00:00Z      3
2020-02-24T00:00:00Z      3
2020-01-28T00:00:00Z      3
2020-02-11T00:00:00Z      2
2020-02-05T00:00:00Z      2
2020-02-12T00:00:00Z      2
2020-01-24T00:00:00Z      1
2020-03-16T00:00:00Z      1
2020-01-25T00:00:00Z      1
2020-03-05T00:00:00Z      1
2020-02-27T00:00:00Z      1
Name: Release_Date, dtype: int64